body {
    margin: 0;
    padding: 0
}
#globalheader ul,
#globalheader ol,
#globalheader li,
#globalheader dl,
#globalheader dt,
#globalheader dd,
#globalheader h1,
#globalheader h2,
#globalheader h3,
#globalheader h4,
#globalheader h5,
#globalheader h6,
#globalheader p,
#globalheader figure,
#globalheader pre,
#globalheader abbr,
#globalheader form,
#globalheader fieldset,
#globalheader input,
#globalheader legend {
    margin: 0;
    padding: 0
}
#globalheader ul,
#globalheader li,
#globalheader p,
#globalheader h4,
#globalheader h5 {
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    line-height: 1
}
#globalheader img {
    border: none
}
#globalheader header,
#globalheader nav,
#globalheader figure,
#globalheader figcaption {
    display: block
}
#globalheader button {
    font: inherit;
    vertical-align: middle;
    box-shadow: none
}
#globalheader button,
#globalheader input {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent
}
#globalheader {
    position: relative;
    z-index: 9999;
    min-width: 1010px;
    height: 2.55556em;
    margin: 0 auto 1em;
    background: #444;
    background: rgba(0, 0, 0, 0.6);
    font-size: 18px
}
#globalheader .gh-icon {
	position: relative;
	width: 40px; 
	height:40px;
}