<!-- login view -->
<div id = "account" class = "container">
	<div>
		<p> Welcome to Allegro Music Store. </p>
		<p>
			Allegro Music Store is a fictitious music store fabricated with the intent to demonstrate demonstrate MEAN Stack technology.
			This single-page web application is designed using custom Angular directives and compile. Express and Node modules are used in the backend to communicate with Mongo database.
		</p>
		<p>
			For demonstration purposes, anybody can sign-up as a manager.
			A manager has access to both the manager's inventory view and the browser view.
			The inventory view allows the user to modify the entire shop's item inventory. This view can be accessed by checking the is Manager option in both signing in and logging on screens.
			The browser view allows the user to filter items and purchase any available items.
			By default (without signing as a manager), any user can access the browser view.
		</p>
	</div>
	<section ng-controller="panelCtrl">
		<ul class = "nav nav-pills">
			<li ng-class="{ active: isSelected(1) }">
				<a href ng-click="selectTab(1)">Log In</a> </li>
			<li ng-class="{ active: isSelected(2) }">
				<a href ng-click="selectTab(2)">Sign up</a> </li>
		</ul>

		<div class="control-group error" ng-show="isSelected(1)">
			<form name="loginForm" ng-controller = "loginCtrl" ng-submit = "loginForm.$valid && login()" novalidate>
				<div class="controls">
					<input type="text" placeholder="Email or Username" ng-model="user.id" required>
				</div>
				<div class="controls">
					<input type="password" placeholder="Password" ng-model="user.password" required>
				</div>
				<div class="controls"> 
					<label class="label label-default">Manager Login</label>
					<input type='checkbox' ng-model="user.manager">
				</div>

				<div class="control-group error">
					<div class="controls">
						<input type="submit" value="Submit">
						<span class="help-inline">{{error}}</span>
					</div>
				</div>
			</form>
		</div>

		<div class="panel" ng-show="isSelected(2)">
			<form name="signupForm" ng-controller = "signupCtrl" ng-submit = "signupForm.$valid && signup()" novalidate>
				<div class="controls">
					<input type="text" placeholder="Username" ng-model="newuser.username" required>
				</div>
				<div class="controls">
					<input type="email" placeholder="Email" ng-model="newuser.email" required>
				</div>
				<div class="controls">
					<input type="password" placeholder="Password" ng-model="newuser.password" required>
				</div>
				<div class="controls">
					<input type="password" placeholder="Confirm Password" ng-model="newuser.confirmPassword" required>
				</div>
				<div class="controls">
					<label class="label label-default">Manager Status</label>
					<input type='checkbox' ng-model="newuser.manager" value=false>
				</div>
				<div class="controls">
					<input type="submit" value="Submit">
					<span class="help-inline">{{error}}</span>
				</div>
			</form>
		</div>
	</section>
</div>